<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>

<body>
    
    <div class="w-75 p-3">
        <div class="row row-cols-1 row-cols-md-1 g-4">


            <% categoryInfo.forEach( (eachCategory)=> { %>

                <div class="card mb-3" style="max-width: 540px;">

                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <a href="/eachCategory?bid=<%= eachCategory.category_id %> ">

                                <img src="<%= eachCategory.category_image %>" class="card-img" alt="Image not found">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= eachCategory.category %>
                                </h5>

                            </div>

                        </div>

                    </div>


                </div>
                <% }); %>
        </div>
    </div>



<footer>
    <%- include('components/footer') %>
</footer>

</body>
</html>