<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('components/header') %>
</head>

<body>

  <div class="filter-container">
    <form class="filter" action="/home" method="GET">
      <div class="item">
        <label for="">Online / Offline Offer</label>
        <select name="location_type">
          <option style="display:none;"></option>
          <% locationType.forEach((filterLocation)=> { %>
            <option value="<%=filterLocation.location_type_id %>">
              <%=filterLocation.location_type %>
            </option>
            <% }); %>

        </select>
      </div>

      <div class="item">
        <label for="">Region</label>
        <select name="region">
          <option style="display:none;"></option>
          <% region.forEach((filterRegion)=> { %>
            <option value="<%=filterRegion.region_id %>">
              <%=filterRegion.region %>
            </option>
            <% }); %>
        </select>
      </div>

      <div class="item">
        <label for="">City / County</label>
        <select name="county">
          <option style="display:none;"></option>
          <% county.forEach((filterCounty)=> { %>
            <option value="<%=filterCounty.county_id %>">
              <%=filterCounty.county %>
            </option>
            <% }); %>
        </select>
      </div>

      <div class="item">
        <label for="">Submitted before</label>
        <input type="date" name="datesub" value="">
      </div>

      <div class="item">
        <label for="">Discount Type</label>
        <select name="discount_type">
          <option style="display:none;"></option>
          <% discountType.forEach((filterDiscount)=> { %>
            <option value="<%=filterDiscount.discount_type_id %>">
              <%=filterDiscount.discount_type %>
            </option>
            <% }); %>
        </select>
      </div>

      <div class="item submit">
        <button>Search</button>
      </div>
    </form>

    <div id="list">
      <% if (offer.length===0) { %>
        <div class="no-results">No results found.</div>
        <% } else { %>
          <% offer.forEach((offerResult)=> { %>
            <div class="item">
              <img src="<%-offerResult.offer_image%>" alt="img" >
              <div class="title"><%-offerResult.offer_name%></div>

            </div>
            <% }); %>
              <% } %>
    </div>
  </div>



  

  <!-- <div class="container">
    <div class="row">

      <% offer.forEach( (eachOffer)=> {

        const options = {
        weekday: 'long',
        month: 'long',
        day: '2-digit'
        }

        let datesub = eachOffer.date_submitted.toLocaleString('en-GB', options);

        %>

        <div class="col">

          <div class="w-75 p-3">
            <div class="row row-cols-1 row-cols-md-1 g-4">
              <div class="card mb-3" style="max-width: 540px;">

                <div class="row no-gutters">
                  <div class="col-md-4">
                    <a href="/offer/<%= eachOffer.offer_type %>/<%= eachOffer.offer_id %>">

                      <a href="/eachOffer?bid=<%= eachOffer.offer_id %> ">

                        <img src="<%= eachOffer.offer_image %>" class="card-img" alt="Image not found">
                      </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">
                        <%= eachOffer.offer_name %>
                      </h5>
                      <p class="card-text"><small class="text-body-secondary">Date submitted: <%= datesub %></small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>

        </div> -->
  </div>
  </div>


  <footer>
    <%- include('components/footer') %>
  </footer>

</body>

</html>