<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header') %>
</head>

<body>

    <div class="row row-cols-1 row-cols-md-2 g-4">

        <% likedrow.forEach( (eachOffer)=> {

            const options = {
            weekday: 'long',
            month: 'long',
            day: '2-digit'
            }
            let datesub = eachOffer.date_submitted.toLocaleString('en-GB', options); %>


            <div class="col">

                <div class="card">


                    <img src="<%= eachOffer.offer_image %> " class="card-img-top" alt="...">



                    <div class="card-body">
                        <h5 class="card-title">
                            <%= eachOffer.offer_name %>
                        </h5>
                        <p class="card-text">
                            <%= eachOffer.offer_desc %>
                        </p>
                        <p class="card-text">
                            Deal Starts : <%= eachOffer.start_date %>
                                Deal Expires : <%= eachOffer.expiry_date %>

                        </p>
                        <p class="card-text">
                            Submitted by : <%= eachOffer.username%> on <%= datesub %>
                        </p>
                    </div>



                </div>
            </div>
            <% }); %>

    </div>
    <a href='/dashboard' class="btn btn-primary"> BACK </a>





    <footer>
        <%- include('components/footer') %>
    </footer>

</body>

</html>